<script>
    "use nstrict"
    
    {% if can_edit %}
    
    function save_project(btn) {
        sendform(btn, 'update_project', {
            url:WB_URL+'/modules/wbs_portal_obj_project/api.php',
            arg_func_success:btn,
            func_success: function(res, btn) {
                btn.form.previousElementSibling.innerHTML = btn.form.value.value;
                btn.form.previousElementSibling.style.display = '';
                btn.form.nextElementSibling.style.display = '';
                btn.form.remove();
            }
        })
    }

    function edit_project(btn) {
        let el_view = btn.previousElementSibling;

        el_view.style.display = 'none';
        btn.style.display = 'none';

        let field;
        if (el_view.tagName !== 'DIV') field = `<input type='text' name='value' value="`+el_view.innerHTML+`">`;
        else field = `<textarea style='width:100%;' name='value'>`+el_view.innerHTML+`</textarea><br>`;

        let form = document.createElement('form');
        form.className = 'edit_form__'+el_view.dataset.name;
        form.style.display = 'inline-block';
        form.innerHTML = `
            <input type="hidden" name="obj_id" value="{{ project.obj_id }}">
            <input type='hidden' name='name' value="`+el_view.dataset.name+`">
            `+field+`
            <input type='button' value='OK' onclick="save_project(this)">
        `;
        el_view.parentElement.insertBefore(form, el_view.nextElementSibling);
        form.value.focus();

    }

    /* Road */

    function task(btn, action) {

        sendform(btn, action+'_task', {
            url:WB_URL+'/modules/wbs_portal_obj_project/api.php',
            arg_func_success:btn,
            func_success: function(res, btn) {        

                if (action === 'delete') {

                    btn.closest('li').remove();

                } else if (action === 'toggle') {

                    if (res.data.is_done === "0") {
                        btn.parentElement.classList.remove('task_done');
                        btn.value = "не сделано";
                        btn.dataset.done = "0";
                    } else {
                        btn.parentElement.classList.add('task_done');
                        btn.value = "сделано";
                        btn.dataset.done = "1";
                    }

                } else if (action === 'move_up') {

                    let cur = btn.closest('li');
                    cur.parentElement.insertBefore(cur, cur.previousElementSibling);

                } else if (action === 'move_down') {

                    let cur = btn.closest('li');
                    if (cur.nextElementSibling !== null) cur.parentElement.insertBefore(cur.nextElementSibling, cur);
                    else cur.parentElement.insertBefore(cur, cur.parentElement.children[0]);

                } else if (action === 'add') {

                    let html_task = `<form>
                        <input type="hidden" value="`+res.data.road_id+`" name="road_id">
                        <input type="button" value="выше" onclick="task(this, 'move_up')" style="padding: 0 5px 0 5px;">
                        <input type="button" value="ниже" onclick="task(this, 'move_down')" style="padding: 0 5px 0 5px;">
                        <span>`+btn.form.text.value+`</span>
                        <input type="button" data-done="0" value="не сделано" onclick="task(this, 'toggle')" style="padding: 0 5px 0 5px;">
                        <input type="button" value="X" onclick="task(this, 'delete')" style="padding: 0 5px 0 5px;">
                    </form>`;
                    let el_task = document.createElement('li');
                    el_task.innerHTML = html_task;
                    
                    btn.form.text.value = "";
                    
                    document.getElementById('road').appendChild(el_task);

                }

            }
        });
    }

    function resource(btn, action) {

        sendform(btn, action+'_resource', {
            url:WB_URL+'/modules/wbs_portal_obj_project/api.php',
            arg_func_success:btn,
            func_success: function(res, btn) {        

                if (action === 'delete') {

                    btn.closest('li').remove();

                } else if (action === 'add') {

                    let html_resource = `<form>
                        <input type="hidden" value="`+res.data.resource_id+`" name="resource_id">
                        <span>`+btn.form.rname.value+`</span>
                        <input type="button" value="X" onclick="resource(this, 'delete')" style="padding: 0 5px 0 5px;">
                    </form>`;
                    let el_resource = document.createElement('li');
                    el_resource.innerHTML = html_resource;
                    
                    btn.form.rname.value = "";

                    let el_before = document.getElementById('resources').querySelector("div[data-cat_id=\""+btn.form.rcategory_id.value+"\"]");
                    if (el_before === null) {
                        el_before = document.createElement('div');
                        el_before.className = 'resource_cat';
                        el_before.dataset.cat_id = btn.form.rcategory_id.value;
                        el_before.innerHTML = btn.form.rcategory_id.selectedOptions[0].textContent;
                        document.getElementById('resources').appendChild(el_before);
                    }
                    
                    document.getElementById('resources').insertBefore(el_resource, el_before.nextElementSibling);

                }

            }
        });
    }

    {% endif %}

</script>

<h1> Проект <span data-name='title'>{{ project.title }}</span> {{ btn_edit|raw }} </h1>

<div style="text-align:right;">
    {{ user.username }} {{ project.date_created }}
</div>

<!--<h2>Краткое описание</h2>-->

<br><div style="text-align:right;">
    <div style="text-align:right;" data-name='description'>{{ project.description }}</div> {{ btn_edit|raw }}
</div>

<br><h2>Подробно</h2><br>

{% if can_edit %}
    <form>
        <input type="hidden" name="obj_id" value="{{ project.obj_id }}">
        {{ editor|raw }}
        <input type="button" value="Сохранить описание" onclick="sendform(this, 'update_project', {
            url:WB_URL+'/modules/wbs_portal_obj_project/api.php',
            data: {name:'text', value:get_from_ckEditor()}
        });">
    </form>
{% else %}
    <div data-name="text">{{ project.text|raw }}</div>
{% endif %}


<br><h2>Дорожная карта</h2><br>

<div>
    <ol id="road">
        {% for road in roads %}
            <li>
                <form class="{% if road.is_done=='1' %}task_done{% endif %}">

                    {% if can_edit %}
                        <input type="hidden" value="{{ road.road_id }}" name="road_id">
                        <input type="button" value="выше" onclick="task(this, 'move_up')" style="padding: 0 5px 0 5px;">
                        <input type="button" value="ниже" onclick="task(this, 'move_down')" style="padding: 0 5px 0 5px;">
                    {% endif %}

                    <span> {{ road.text }}</span>

                    {% if can_edit %}
                        <input type="button" data-done="{{ road.is_deleted }}" value="{% if road.is_done=='1' %}сделано{% else %}не сделано{% endif %}" onclick="task(this, 'toggle')" style="padding: 0 5px 0 5px;">
                        <input type="button" value="X" onclick="task(this, 'delete')" style="padding: 0 5px 0 5px;">
                    {% endif %}

                </form>
            </li>
        {% endfor %}
    </ol>
    {% if can_edit %}
        <form>
            <input type="hidden" name="obj_id" value="{{ project.obj_id }}">
            <input type="text" name="text" placeholder="новая задача">
            <input type="button" value="Добавить" onclick="task(this, 'add')">
        </form>
    {% endif %}
</div>

<br><h2>Требуемые ресурсы</h2><br>

<div>
    <div id="resources">
        {% set cat_id = 0 %}
        {% for resource in resources %}

            {% if cat_id != resource.resource_category_id %}

               {% if cat_id != 0 %} </ul> {% endif %}
            
                <div class='resource_cat' data-cat_id="{{ resource.resource_category_id }}">{{ resource.resource_category_name }}</div>
               {% set cat_id = resource.resource_category_id %}
            
               <ul>
            
            {% endif %}

            <li><form>
                {% if can_edit %}
                    <input type="hidden" value="{{ resource.resource_id }}" name="resource_id">
                {% endif %}

                <span> {{ resource.resource_name }}</span>

                {% if can_edit %}
                    <input type="button" value="X" onclick="resource(this, 'delete')" style="padding: 0 5px 0 5px;">
                {% endif %}
            </form></li>

        {% endfor %}
        {% if resources %} </ul> {% endif %}
    </div>
    {% if can_edit %}
        <form>
            <input type="hidden" name="obj_id" value="{{ project.obj_id }}">
            <input type="text" name="rname" placeholder="название ресурса">
            <select name="rcategory_id">
                {% for rcat in rcategories %}
                    <option value="{{ rcat.resource_category_id }}">{{ rcat.resource_category_name }}</option>
                {% endfor %}
            </select>
            <input type="button" value="Добавить" onclick="resource(this, 'add')">
        </form>
    {% endif %}
</div>

<!--<br><h2>Участники</h2><br>

<div>
</div>-->

{% if can_edit %}
    <form>
        <input type="hidden" name="obj_id" value="{{ project.obj_id }}">
        <input type="checkbox" name="value" {% if project.is_active == '1' %}checked{% endif %} onchange="sendform(this, 'update_project', {
            url:WB_URL+'/modules/wbs_portal_obj_project/api.php',
            data: {name:'is_active'}
        });"> Активность
    </form>
{% endif %}

{% if project.is_created == '0' %}
<form>
    <div class="captcha">
        [[captcha?part=input]] = [[captcha?part=image]]
    </div>

    <input type="button" value="Сохранить" onclick="sendform(this, 'create_project', {wb_captcha_img: this.parentElement.querySelector('.captcha img'), {{ url_api }} })">
    <input type="button" value="Отмеинть" onclick="sendform(this, 'cancel_project', { {{ url_api }} })">
</form>
{% endif %}

<style>
    .task_done {
        color: green;
    }
    
    .edit_form__text, .edit_form__description {
        width:100%;
    }
    
    .resource_cat {
        font-size:12pt;
        color:#b30000;
    }

</style>